<center> 
  <article>
    <h2>The Best IoT Weather App</h2>
    <img src="assets/lightning-bolts.jpg" width="75px" alt="article banner">
  </article>
    <nav>
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="https://weather.com/en-AU/weather/today/l/ASXX0023:1:AS?Goto=Redirected">Data</a></li>
        </ul>
    </nav>
    <div class="content">
        <h1>Weather App</h1>
        <div class="weather-info">
            <h2>Current Weather</h2>
            <p>Location: <%= obj.location %></p>
            <p>Temperature: <%= obj.temperature %>°C</p>
            <p>Humidity: <%= obj.humidity %>%</p>
            <p>Sensor: <%= obj.sensName %></p>

            <ul>
                <p><strong>Written by:</strong></p>
                <p>Aaryan Kamath</p>
              </li>
            </ul>
        </div>
    </div>
</center>






